#card-title{
    font-weight: 100;
}
#btn-shop{
    background: rgb(161, 95, 223);
    width: 90%;
    height: 45px;
    font-size: 15px;
    color: cornsilk;
    font-weight: bold;
}
#btn-shop:hover{
    background: rgb(138, 43, 226);}
#shop-p{
    color: rgb(105, 105, 100);
}
#shop-img{
    padding-top: 13px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    max-width: 23%;
}
#defoult{
    /* border: 1px solid red; */
    position: relative;
    right: 90px;
}
#shop-left{
    max-width: 100%;
}